*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-width: fit-content;
    padding: 3rem;
    margin: 15rem;
    display: inline-flex;
    background-color: blanchedalmond;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 1.5rem;
}

.container input, .container label,.container button{
    margin: 1rem;
    border-radius: .25rem;
}